/* Change the font */
body {
    font-family: "JetBrains Mono", monospace;
}

/*
Essay and thesis page settings 
*/

.essay p{
    margin-bottom: 3rem; /* Change the spacing between paragraphs */
}

.essay{
    max-width: 70ch; /* Change the maximal width of the lines */
}

.body-prologue-epilogue{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
Index page settings 
*/
.index {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.index section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.left-links{
    height: 100vh;       
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.right-links{
    height: 100vh;       
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    text-align: right;
}

.right-links li{
    padding: 10rem 0;
}


nav li {
    list-style: none;
    margin: 1.25rem 0;
}

.ascii-art {
    margin: 8vh 5vw;
}

.prologue-epilogue{
    padding: 2rem 0; 
}



/* 
Navigatonal footer
*/

.footer-nav {
    width: 80%; /* adjust the width of the total footer*/
    margin-top: 6rem;
    padding: 2rem;

    display: flex;
    align-items: flex-end; /* aligns prologue and epilogue on same row */
}

.left-nav {
    display: flex;
    flex-direction: column;
}

.middle-links {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}


.home-footer-button{
    margin-bottom: 1.5rem; /* adjust the spaceing between the home button and the prologue */
}

.current-page { 
    visibility: hidden; /* hides the link to the current page  */
    pointer-events: none; /* makes hidden link unclickable  */
}