body {
    font-family: "JetBrains Mono", monospace;
}

.top-header-logo {
    width: 100px;
    height: auto;
}

.index {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.left-links{
     height: 100vh;       
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.right-links{
    height: 100vh;       
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    text-align: right;
}

.right-links li{
    padding: 10rem 0;
}

.my-work{
    padding: 10px 0 10px 0;
}

nav li {
    list-style: none;
    margin: 1.25rem 0;
}

.ascii-art {
    margin: 8vh 5vw;
}

.prologue-epilogue{
    padding: 2rem 0;
}